<pag-dialog [open]="open">
  <div class="dialog-content center-position">
    <img src='assets/image/logo.svg' alt='logo' height="32px">

    <div class="step-content" *ngIf="step === STEP.accountInput">
      <ng-container *ngIf="!error; else errorBlock">
        <pag-txt
          text="TwitterのアカウントIDを入力して、Pagをはじめよう。"
          size="m" weight="regular" color="black"
        ></pag-txt>
      </ng-container>
      <ng-template #errorBlock>
        <pag-txt
          text="アカウントを見つけることができませんでした。"
          size="m" weight="medium" color="red"
        ></pag-txt>
        <pag-txt
          text="以下の点をご確認の上、再度ご入力ください。"
          size="m" weight="medium" color="red"
        ></pag-txt>
        <div class="error-check-point">
          <pag-txt
            text="・指定したアカウントが存在すること"
            size="s" weight="regular" color="black"
          ></pag-txt>
          <pag-txt
            text="・指定したアカウントが鍵アカウントではないこと"
            size="s" weight="regular" color="black"
          ></pag-txt>
        </div>
      </ng-template>
      <div style="margin-top:4px;">
        <pag-txt
          text="サンプル用のアカウントでPagを使ってみたい方は、"
          size="s" weight="regular" color="black" [options]="['inline-block']"
        ></pag-txt>
        <pag-txt
          text="こちら"
          size="s" weight="regular" color="primary" [options]="['inline-block']"
          style="cursor:pointer;"
          (click)="startTestAccountEvent()"
        ></pag-txt>
        <pag-txt
          text="をクリック"
          size="s" weight="regular" color="black" [options]="['inline-block']"
        ></pag-txt>
      </div>
      <div class="account-id-form">
        <pag-input-txt
          placeholder="@account_id"
          (input)="onChangeAccountId($event?.target?.value)"
        ></pag-input-txt>
        <pag-button label="確認" size="s" type="inline" (click)="searchAccount()"></pag-button>
      </div>
    </div>

    <div class="step-content center-position" *ngIf="step === STEP.accountSearching">
      <pag-txt
        text="Twitterアカウント検索中..."
        size="m" weight="regular" color="black"
      ></pag-txt>
      <div class="loading-wrapper">
        <pag-loading borderWidth="regular"></pag-loading>
      </div>
    </div>

    <div class="step-content center-position" *ngIf="step === STEP.accountConfirm">
      <pag-txt
        text="こちらのアカウントでお間違えないですか？"
        size="m" weight="regular" color="black"
      ></pag-txt>
      <div class="account">
        <div class="account-img-wrapper">
          <pag-account-img [url]="account?.img"></pag-account-img>
        </div>
        <div class="account-name">
          <pag-ellipsis-txt
            [text]="account?.name"
            size="m" weight="regular" color="gray-01"
            [fix]="CONFIRM_CONTENTS_WIDTH"
          ></pag-ellipsis-txt>
          <pag-ellipsis-txt
            [text]="account?.accountId"
            size="l" weight="medium" color="black"
            [fix]="CONFIRM_CONTENTS_WIDTH"
          ></pag-ellipsis-txt>
        </div>
      </div>
      <div class="confirm-button-block">
        <pag-button label="はい" [active]="true" size="s" type="block">
        </pag-button>
        <div class="confirm-no-btn">
          <pag-txt
            text="いいえ、入力し直します"
            size="m" weight="medium" color="primary"
            (click)="toInitialInputStep()"
          ></pag-txt>
        </div>
      </div>
    </div>

  </div>
</pag-dialog>
