@import 'src/styles.scss';

.radiobtn-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  input, label {
    cursor: pointer;
  }
  input[type=radio] {
    display: none;
  }
}

.radiobtn-label {
  margin-left: 4px;
}