<div class="navigation">
  <pag-account-list-card
    [accounts]="accountListCard.accounts"
    [currentAccount]="accountListCard.currentAccount"
    [accountClickEvent]="accountClickEvent"
    [addClickEvent]="addAccountClickEvent"
  ></pag-account-list-card>
  <div class="tag-block">
    <pag-input-txt (input)="onChangeInput($event)"></pag-input-txt>
    <div class="tag-list">
      <div *ngFor="let navTag of navTags" class="nav-tag">
        <pag-nav-tag
          [tag]="navTag.tag"
          [count]="navTag.count"
          [selected]="selected"
          [disable]="disable"
          [clickEvent]="navTagClickEvent"
        ></pag-nav-tag>
      </div>
    </div>
  </div>
</div>