<div class="navigation">
  <div class="nav-contents-wrapper">
    <pag-account-list-card
      [accounts]="accountListCard.accounts"
      [currentAccount]="accountListCard.currentAccount"
      [accountClickEvent]="accountClickEvent"
      [addClickEvent]="editAccountClickEvent"
    ></pag-account-list-card>
  </div>
  <div class="tag-block">
    <div class="nav-contents-wrapper">
      <pag-input-txt placeholder="tagを検索" defaultValue="" [resetToken]="inputResetToken" (input)="onChangeInput($event)"></pag-input-txt>
    </div>
    <div
      class="nav-contents-wrapper reset-btn"
      [ngClass]="{show: isShowResetBtn}"
      (click)="resetBtnClickEvent ? resetBtnClickEvent() : undefined"
    >
      <pag-txt
        text="Reset"
        size="xs" weight="medium" color="primary"
      ></pag-txt>
    </div>
    <div class="tag-list nav-contents-wrapper">
      <div *ngFor="let navTag of filteredNavTags" class="nav-tag">
        <pag-nav-tag
          [tag]="navTag.tag"
          [count]="navTag.count"
          [selected]="navTag.selected"
          [disable]="navTag.disable"
          [clickEvent]="navTagClickEvent"
        ></pag-nav-tag>
      </div>
    </div>
  </div>
</div>