@import 'src/styles.scss';

.option-card {
  width: 269px;
  height: 70px;
  padding: 24px 32px;
  background: $white;
  border-radius: $card-radius;
  box-shadow: $shadow-level1;
  transition: all 200ms ease-out;
  overflow: hidden;
  box-sizing: border-box;
  &.xs { height: 148px; }
  &.s { height: 183px; }
  &.m { height: 228px; }
  &.l { height: 298px; }
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  margin-top: 18px;
  opacity: 0;
  animation: fadeIn 200ms ease-out 100ms forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  75% { opacity: 0.5; }
  100% { opacity: 1; }
}