<div
  class="option-card"
  [ngClass]="open ? getOpenClasses() : ''"
  (click)="open ? undefined : toggleOpen($event)"
>
  <div class="card-head" (click)="open ? toggleOpen($event) : undefined">
    <pag-ellipsis-txt
      [text]="title"
      max="170px"
      size="l" weight="medium" color="black"
    ></pag-ellipsis-txt>
    <pag-icon [icon]="open ? 'minus' : 'plus'"></pag-icon>
  </div>
  <ng-container *ngIf="open">
    <div class="card-content" (click)="stopEvent($event)">
      <ng-content></ng-content>
    </div>
  </ng-container>
</div>