@import 'src/styles.scss';

.option-card {
  width: 205px;
  height: 22px;
  padding: 24px 32px;
  background: $white;
  border-radius: 40px;
  box-shadow: $shadow-level1;
  cursor: pointer;
  transition: all 200ms ease-out;
  overflow: hidden;
  &.open {
    cursor: unset;
    &.xs { height: 100px; }
    &.s { height: 135px; }
    &.m { height: 200px; }
  }
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card-content {
  margin-top: 18px;
  opacity: 0;
  animation: fadeIn 200ms ease-out 100ms forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  75% { opacity: 0.5; }
  100% { opacity: 1; }
}