@import 'src/styles.scss';

.nav-tag {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  pag-ellipsis-txt {
    // TODO: why?
    display: inline-grid;
  }
  .count {
    margin-left: 8px;
  }
}
.nav-tag.selected { background: $primary; }
.nav-tag.disable { cursor: default; }
