@import 'src/styles/colors.scss';

.label {
  display: inline-block;
  background: $primary-gray;
  padding: 6px 12px 4px;
  border-radius: 3px;
  cursor: pointer;
  &.active {
    background: $primary;
  }
}