<pag-dialog [open]="open">
  <div class="dialog-content">
    <img src='assets/image/logo.svg' alt='logo' height="32px">
    <div class="step-content">
      <pag-txt
        text="TwitterのアカウントIDを入力して、Pagをはじめよう。"
        size="m"
        weight="regular"
        color="black"
      ></pag-txt>
      <div style="margin-top:2px;">
        <pag-txt
          text="サンプル用のアカウントでPagを使ってみたい方は、"
          size="s" weight="regular" color="black" [options]="['inline-block']"
        ></pag-txt>
        <pag-txt
          text="こちら"
          size="s" weight="regular" color="primary" [options]="['inline-block']"
        ></pag-txt>
        <pag-txt
          text="をクリック"
          size="s" weight="regular" color="black" [options]="['inline-block']"
        ></pag-txt>
      </div>
      <div class="account-id-form">
        <pag-input-txt placeholder="@account_id"></pag-input-txt>
        <pag-button label="確認" size="s" type="inline"></pag-button>
      </div>
    </div>
  </div>
</pag-dialog>
