.dialog-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.step-content {
  margin: 12px auto 0;
  width: 400px;
}

.account-id-form {
  display: flex;
  margin-top: 16px;
  pag-input-txt {
    flex: 1;
    margin-right: 16px;
  }
}
