<pag-dialog [open]="open" [showCloseIcon]="false">
    <div class="dialog-content center-position">
      <img src='assets/logo/logo.svg' alt='logo' height="32px" class="logo">
  
      <div class="hello-message">
        <pag-txt
          text="「いつか使えそうな情報」を管理しよう！"
          size="m" weight="regular" color="black"
        ></pag-txt>
      </div>

      <div class="start-btn">
        <pag-button label="テストユーザではじめる" size="m" type="block" (click)="setTestAccount()"></pag-button>
      </div>
    </div>
  </pag-dialog>
  