<pag-header></pag-header>
<pag-nav
  [accountListCard]="accountListCard"
  [navTags]="sortedTags"
  [accountClickEvent]="onClickedAccount"
  [navTagClickEvent]="onClickedTag"
  [isShowResetBtn]="existSelectedTags"
  [resetBtnClickEvent]="onClickedReset"
  [editAccountClickEvent]="openAccountEditDialog"
></pag-nav>
<div id="root-container">
  <div class="items-wrapper">
    <p class="items-title" *ngIf="!itemIsEmpty">{{itemsTitle}}</p>
    <pag-item-list
      [items]="items$ | async"
    ></pag-item-list>
    <div class="item-empty" *ngIf="itemIsEmpty">
      <pag-txt
        text="まだItemがありません。"
        size="l" weight="medium" color="black"
      ></pag-txt>
      <pag-txt
        text="Tweetして、Itemを追加しましょう。"
        size="l" weight="medium" color="black"
      ></pag-txt>
    </div>
  </div>
  <div class="option-wrapper">
    <div class="fixed-options">
      <div class="option-card-wrapper">
        <pag-sort-option-card [changeSortEvent]="onChangeSort"></pag-sort-option-card>
      </div>
      <div class="option-card-wrapper">
        <pag-add-item-card [enable]="false"></pag-add-item-card>
      </div>
    </div>
  </div>
</div>

<pag-account-initialize-dialog
  [open]="accountsIsNotRegisted"
  [setAccountEvent]="onClickedInitializeAccount"
></pag-account-initialize-dialog>

<pag-account-edit-dialog
  [open]="isOpenAccountEditDialog"
  [accounts]="accountListCard.accounts"
  [removeAccountEvent]="onRemoveAccount"
  [addAccountEvent]="onAddAccount"
  (close)="closeAccountEditDialog()"
></pag-account-edit-dialog>

<pag-loading-dialog
  [open]="loading$ | async"
  [message]="loadingMessage"
></pag-loading-dialog>
