@import 'src/styles.scss';

$header-height: 45px;
$nav-width: 271px;

$z-index-header: 50;
$z-index-nav: 40;

$option-card-width: 269px;
$account-tags-card-width: 295px;

$side-block-padding: 28px 20px;

#root-container {
  background: $primary-lite;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: $header-height 20px;
  justify-content: center;
  display: flex;
}
.items-wrapper { 
  padding: 28px 20px;
  flex: 1;
  max-width: 600px;
  box-sizing: border-box;
}
.option-wrapper {
  width: $option-card-width;
  padding: $side-block-padding;
}
.account-tag-card-wrapper {
  width: $account-tags-card-width;
  padding: $side-block-padding;
}
.card-wrapper {
  margin-top: 12px;
}
.fixed-card {
  position: fixed;
}
.items-title {
  font-family: $font-family;
  line-height: 1.4;
  letter-spacing: 0.8px;
  font-size: 28px;
  font-weight: 700;
  padding-left: 8px;
  margin-bottom: 16px;
}

pag-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header;
}

pag-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-nav;
}

.item-empty {
  text-align: center;
  margin-top: 24px;
}