<pag-header></pag-header>
<div id="root-container">
  <div class="account-tag-card-wrapper">
    <div class="fixed-card">
      <div class="card-wrapper">
        <pag-account-list-card
          [accounts]="accountListCard.accounts"
          [currentAccount]="accountListCard.currentAccount"
          [accountClickEvent]="onClickedAccount"
          [addClickEvent]="openAccountEditDialog"
        ></pag-account-list-card>
      </div>
      <div class="card-wrapper">
        <pag-tag-list-card
          [navTags]="sortedTags"
          [navTagClickEvent]="onClickedTag"
          [isShowResetBtn]="existSelectedTags"
          [resetBtnClickEvent]="onClickedReset"
        ></pag-tag-list-card>
      </div>
    </div>
  </div>
  <div class="items-wrapper">
    <p class="items-title" *ngIf="!itemIsEmpty">{{itemsTitle}}</p>
    <pag-item-list
      [items]="items$ | async"
      [itemClickEvent]="onClickItem"
    ></pag-item-list>
    <div class="item-empty" *ngIf="itemIsEmpty">
      <pag-txt
        text="まだItemがありません。"
        size="l" weight="medium" color="black"
      ></pag-txt>
      <pag-txt
        text="Tweetして、Itemを追加しましょう。"
        size="l" weight="medium" color="black"
      ></pag-txt>
    </div>
  </div>
  <div class="account-tag-card-wrapper dummy-column"></div>
  <!-- <div class="option-wrapper">
    <div class="fixed-card">
      <div class="card-wrapper">
        <pag-sort-option-card [changeSortEvent]="onChangeSort"></pag-sort-option-card>
      </div>
      <div class="card-wrapper">
        <pag-add-item-card [enable]="false"></pag-add-item-card>
      </div>
    </div>
  </div> -->
</div>


<ng-container *ngIf="!testMode; else testModeBlock">
  <pag-account-initialize-dialog
    [open]="accountsIsNotRegisted"
    [setAccountEvent]="onClickedInitializeAccount"
    (close)="closeTestAccountInitializeDialog()"
  ></pag-account-initialize-dialog>
</ng-container>
<ng-template #testModeBlock>
  <pag-test-account-initialize-dialog
    [open]="accountsIsNotRegisted"
    [setAccountEvent]="onClickedInitializeAccount"
    (close)="closeTestAccountInitializeDialog()"
  ></pag-test-account-initialize-dialog>
</ng-template>

<pag-account-edit-dialog
  [open]="isOpenAccountEditDialog"
  [accounts]="accountListCard.accounts"
  [removeAccountEvent]="onRemoveAccount"
  [addAccountEvent]="onAddAccount"
  (close)="closeAccountEditDialog()"
></pag-account-edit-dialog>

<pag-loading-dialog
  [open]="loading$ | async"
  [message]="loadingMessage"
></pag-loading-dialog>
