@import 'src/styles.scss';

$header-height: 45px;
$nav-width: 271px;

$z-index-header: 50;
$z-index-nav: 40;

$option-card-width: 269px;

#root-container {
  background: $primary-lite;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding-top: $header-height;
  padding-left: $nav-width;
  display: flex;
}
.items-wrapper { 
  padding: 28px 40px;
  flex: 1;
  max-width: 800px;
  box-sizing: border-box;
}
.option-wrapper {
  width: $option-card-width;
  padding: 28px 40px 28px 8px;
  .fixed-options {
    position: fixed;
  }
  .option-card-wrapper {
    margin-top: 16px;
  }

}
.items-title {
  font-family: $font-family;
  line-height: 1.4;
  letter-spacing: 0.8px;
  font-size: 28px;
  font-weight: 700;
  padding-left: 8px;
  margin-bottom: 16px;
}

pag-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header;
}

pag-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-nav;
}

.item-empty {
  text-align: center;
  margin-top: 24px;
}