@import 'src/styles.scss';

.button {
  border: none;
  background: $primary;
  padding: 8px 24px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;

  // typography
  font-size: 16px;
  font-weight: 400;
  font-family: $font-family;
  color: $white;
  text-align: center;
  &:focus {
    outline: 0;
  }
  &:hover {
    filter: brightness(110%);
  }

  &.deactive {
    background: $primary-gray;
    cursor: default;
    &:hover {
      filter: none;
    }
  }
}