@import 'src/styles.scss';

.base-txt {
  font-family: $font-family;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

// font size
.xl { font-size: 18px; }
.l { font-size: 16px; }
.m { font-size: 14px; }
.s { font-size: 12px; }

// font weight
.medium { font-weight: 400; }
.regular { font-weight: 300; }

// color
.primary { color: $primary; }
.black { color: $black; }
.gray-01 { color: $gray-01; }
.primary-gray { color: $primary-gray; }
.white { color: $white; }

// options
.inline-block { display: inline-block; }
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
