<div class="account-list-card" [ngClass]="openHeightClass" (click)="toggleOpen()">
  <ng-container *ngIf="!open; else openBlack">
    <pag-account-name
      [id]="currentAccount?.id"
      [name]="currentAccount?.name"
      [imgUrl]="currentAccount?.imgUrl"
    ></pag-account-name>
  </ng-container>

  <ng-template #openBlack>
    <div *ngFor="let account of accounts" class="account-name-wrapper">
      <pag-account-name
        [id]="account.id"
        [name]="account.name"
        [imgUrl]="account.imgUrl"
        [clickEvent]="accountClickEvent"
      ></pag-account-name>
    </div>
    <pag-button label="編集" [clickEvent]="addClickEvent" size="m" type="block"></pag-button>
  </ng-template>
</div>