@import 'src/styles.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  height: 45px;
  width: 100vw;
  box-shadow: $shadow-center;
  box-sizing: border-box;
  background: $white;
  img {
    height: 35%;
  }
}
